@{
    ViewData["Title"] = "Home Page";
}
<div aurelia-app="boot">
    <div class="container">
        <div class="notification has-text-centered">
            Loading...
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/jquery.js" asp-append-version="true"></script>

    @*<script>
        $(document).ready(function () {
            var maintb = $("#mainTable");
            console.log(maintb);
            $("td").val("hello");
            console.log("picked up");
            if ($("mainTable td").val() === "Yes") {
                $(this).css('color', 'green');
            }
            if ($("mainTable td").val() === "No") {
                $(this).css('color', 'green');
            }

        });

    </script>*@
}
